
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body class="bg-body-secondary">


    <div id="app"> 
        <div class="container text-center ">
            <h2 >LISTA DELLA SPESA PER PASQUETTA</h2>
<h3 class="fs-5">Fai la lista della spesa</h3>
<p class="fs-6">Hai deciso cosa mangiare a pasquetta? Scrivi qui la tua lista della spesa, cosi da poterla condividere con i tuoi amici e organizzarvi al meglio!</p>
<div class="">
    <input type="text" name="ingredient" id="ingredient" v-model="text" @keyup.enter="inserisci" >
    <button @click="inserisci()" class="btn btn-success ms-3">Aggiungi alla lista </button>
<div class=" justify-content-start d-flex">
    
      <ul v-if="listSpesa.length > 0 ">
        <li v-for="(item, index) in listSpesa" @click="completedAction(index)" :class="item.done ? 'text-decoration-line-through': '' ">
            <span>{{item.text}}</span>
            <button @click.stop="deleteItem(index)" class="btn btn-outline-danger ms-5"><i class="fa-thin fa fa-trash"></i></button>
        </li>
    </ul>

  
    </div>
       <div class="btn btn-primary">Share</div>  
</div>
        </div>

    </div> 
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <script src="./js/script.js"></script>
</body>
</html>